name: Tests

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: '0 8 * * *' # daily at 8am UTC

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v4
        with:
          submodules: true

      - run: ./test/bats/bin/bats test/unit/ test/integration/ test/e2e/
