name: Tests

on:
  pull_request:
  push:
    branches: [main]
  schedule:
    - cron: '0 8 * * *' # daily at 8am UTC

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          submodules: true

      - run: ./test/bats/bin/bats test/unit/ test/integration/ test/e2e/
